<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:serverftp.ciber-es.com</string>
		<string>applinks:apiauth.santander.pre.corp</string>
		<string>applinks:apiauth.bancosantander.es</string>
		<string>applinks:apiauth.bancosantander.es/psd2LoginAppPart</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.es.bancosantander.mobility.ios.retail</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)es.santander.sso</string>
	</array>
</dict>
</plist>
