//
//  Test.xcconfig
//  Cards
//
//  Created by Juan Carlos López Robles on 2/23/22.
//  Copyright © 2022 CocoaPods. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PRODUCT_BUNDLE_IDENTIFIER = es.bancosantander.apps.ios.debug.5.0
TARGET_NAME = Test_Example

