//
//  DEV.xcconfig
//  Santander
//
//  Created by José Carlos Estela Anguita on 2/3/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = SP-DEV-$(MARKETING_VERSION)
PRODUCT_BUNDLE_IDENTIFIER = es.santander.retail
WIDGET_BUNDLE_IDENTIFIER = es.santander.retail.widget
SIRI_BUNDLE_IDENTIFIER = es.santander.retail.siri
SIRI_UI_BUNDLE_IDENTIFIER = es.santander.retail.siriUI
PUSH_NOTIFICATION_BUNDLE_IDENTIFIER = es.santander.retail.pushNotificationService
APP_NAME = Santander Dev
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
EMMA_API_KEY = santanderdevpTz6MgP3b
LOAD_PFM_ENABLED = YES
LOG_ENABLED = YES
MANAGER_WALL_PRODUCTION_ENVIRONMENT = NO
SALES_FORCE_ACCESS_TOKEN = Hhb7cOisMHWO9njDwM97Im0iOAMT2gflByUGz9OHGR8=
SALES_FORCE_APP_ID = eo9SisS3t1qnlvX3M2ndU+0vHUPKO2j69Kbsf03kB0C3AXvVFRhl8m+BIwm0YM/j
SALES_FORCE_MID = NVMX4RCNDARAJZmuOAcccw==
SALES_FORCE_END_POINT = OkhGaTtWwRfE4280nvK+iPCLjXTeg6TEI6+CgJvF9cAzGgnInWNO+B3PeDLM8tcmzCRydmnHOfWIABK99hDyr2DCHVn5kjQjn8zzfgPd0MA=
TEALIUM_TARGET = dev
TWIN_PUSH_API_KEY = N9cvgh8bQ1iH7wcmquCHmoGbOjCc1bKfpPM5Ry3A3ADvN9T0+FKM9izlqk7ryjFX
TWIN_PUSH_APP_ID = VnFWYotzPYxGcXtfElzY2ZZnPiqJVQpuvYqJfXPowng
TWIN_PUSH_SUBDOMAIN = santander
APP_CENTER_IDENTIFIER = 0f39b6cf-d56b-427a-912a-86888abc5058
TRUST_INVALID_CERTIFICATE = YES
ENVIRONMENTS_AVAILABLE = YES
KEYCHAIN_SERVICE = DEV_Santander
ENVIRONMENTS_FOLDER = $(SRCROOT)/Santander/Configuration/Legacy
ENVIRONMENTS_TO_EXCLUDE = $(ENVIRONMENTS_FOLDER)/PRO/* $(ENVIRONMENTS_FOLDER)/PRE/* $(ENVIRONMENTS_FOLDER)/INTERN/*
TRUSTEER_FILES_TO_EXCLUDE = $(SRCROOT)/Santander/Trusteer/Wrapper/PRE/SdkHandler.mm
EXCLUDED_SOURCE_FILE_NAMES = $(ENVIRONMENTS_TO_EXCLUDE) $(TRUSTEER_FILES_TO_EXCLUDE)
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/Santander/Trusteer/tas/include
TAS_ROOT = "$(SRCROOT)/Santander/Trusteer/tas"
APP_GROUPS_IDENTIFIER = group.com.santander.sso
SHARED_KEYCHAIN_IDENTIFIER = D33377X979.com.santander.sso
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Santander/Entitlement/Vostok.entitlements
WIDGET_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Widget/WidgetVostok.entitlements
SIRI_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Siri/Config/SiriVostok.entitlements
SIRI_UI_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/SiriUI/Config/SiriUIVostok.entitlements
PUSH_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/PushNotificationService/NotificationsVostok.entitlements
