//
//  INTERN.xcconfig
//  Santander
//
//  Created by José Carlos Estela Anguita on 2/2/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = SP-INTERN-$(MARKETING_VERSION)
PRODUCT_BUNDLE_IDENTIFIER = es.bancosantander.apps.ios.intern.5.10
WIDGET_BUNDLE_IDENTIFIER = es.bancosantander.apps.ios.intern.5.10.widget
SIRI_BUNDLE_IDENTIFIER = es.bancosantander.apps.ios.intern.5.10.siri.intents
SIRI_UI_BUNDLE_IDENTIFIER = es.bancosantander.apps.ios.intern.5.10.siri.intents.ui
PUSH_NOTIFICATION_BUNDLE_IDENTIFIER = es.bancosantander.apps.ios.intern.5.10.pushNotificationService
APP_NAME = Santander Intern
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
EMMA_API_KEY = santanderdevpTz6MgP3b
LOAD_PFM_ENABLED = YES
LOG_ENABLED = YES
MANAGER_WALL_PRODUCTION_ENVIRONMENT = NO
SALES_FORCE_ACCESS_TOKEN = ZAwSJLN4Avjqv6fknjXyQpJ04jBxL+lAnspljIlvUhk=
SALES_FORCE_APP_ID = NKA6Z1wB6XWI+9fRB/OHdL8jDqXL01nR770zM/V+7YDhRPXNjRnfICXXk+FkiAe3
SALES_FORCE_MID = NVMX4RCNDARAJZmuOAcccw==
SALES_FORCE_END_POINT = OkhGaTtWwRfE4280nvK+iPCLjXTeg6TEI6+CgJvF9cAzGgnInWNO+B3PeDLM8tcmzCRydmnHOfWIABK99hDyr2DCHVn5kjQjn8zzfgPd0MA=
TEALIUM_TARGET = dev
TWIN_PUSH_API_KEY =
TWIN_PUSH_APP_ID =
TWIN_PUSH_SUBDOMAIN = santander
APP_CENTER_IDENTIFIER = 787bef6c-3747-4caa-aace-66ce17dd1a7b
TRUST_INVALID_CERTIFICATE = YES
ENVIRONMENTS_AVAILABLE = YES
KEYCHAIN_SERVICE = INTERN_Santander
DEFAULT_DEMO_USER = 12345678Z
DEFAULT_MAGIC = 14725836
ENVIRONMENTS_FOLDER = $(SRCROOT)/Santander/Configuration/Legacy
ENVIRONMENTS_TO_EXCLUDE = $(ENVIRONMENTS_FOLDER)/PRO/* $(ENVIRONMENTS_FOLDER)/PRE/* $(ENVIRONMENTS_FOLDER)/DEV/*
TRUSTEER_FILES_TO_EXCLUDE = $(SRCROOT)/Santander/Trusteer/Wrapper/PRO/SdkHandler.mm
EXCLUDED_SOURCE_FILE_NAMES = $(ENVIRONMENTS_TO_EXCLUDE) $(TRUSTEER_FILES_TO_EXCLUDE)
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/Santander/Trusteer/tas/include
TAS_ROOT = "$(SRCROOT)/Santander/Trusteer/tas"
APP_GROUPS_IDENTIFIER = group.es.bancosantander.mobility.ios.retail
SHARED_KEYCHAIN_IDENTIFIER = JFX6PVNK48.es.santander.sso
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Santander/Entitlement/Debug.entitlements
WIDGET_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Widget/WidgetDevelopment.entitlements
SIRI_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Siri/Config/SiriDevelopment.entitlements
SIRI_UI_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/SiriUI/Config/SiriUIDevelopment.entitlements
PUSH_CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/PushNotificationService/NotificationsDevelopment.entitlements
