<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_CENTER_IDENTIFIER</key>
	<string>$(APP_CENTER_IDENTIFIER)</string>
	<key>APP_GROUPS_IDENTIFIER</key>
	<string>$(APP_GROUPS_IDENTIFIER)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>5.10.33</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.isban.bancosantander.es.public</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>santanderretail</string>
				<string>santanderRetail</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>510033</string>
	<key>DEFAULT_DEMO_USER</key>
	<string>$(DEFAULT_DEMO_USER)</string>
	<key>DEFAULT_MAGIC</key>
	<string>$(DEFAULT_MAGIC)</string>
	<key>DTXApplicationID</key>
	<string>$(DYNATRACE_APP_ID)</string>
	<key>DTXAutoActionTimeoutMilliseconds</key>
	<string>$(DYNATRACE_AUTO_ACTION_TIMEOUT)</string>
	<key>DTXBeaconURL</key>
	<string>$(DYNATRACE_BEACON_URL)</string>
	<key>DTXUserOptIn</key>
	<false/>
	<key>EMMA_API_KEY</key>
	<string>$(EMMA_API_KEY)</string>
	<key>ENVIRONMENTS_AVAILABLE</key>
	<string>$(ENVIRONMENTS_AVAILABLE)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KEYCHAIN_SERVICE</key>
	<string>$(KEYCHAIN_SERVICE)</string>
	<key>LOAD_PFM_ENABLED</key>
	<string>$(LOAD_PFM_ENABLED)</string>
	<key>LOG_ENABLED</key>
	<string>$(LOG_ENABLED)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>santandervideollamada</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MANAGER_WALL_PRODUCTION_ENVIRONMENT</key>
	<string>$(MANAGER_WALL_PRODUCTION_ENVIRONMENT)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Para realizar esta acción se necesitan permisos para acceder al calendario del dispositivo</string>
	<key>NSCameraUsageDescription</key>
	<string>Para realizar esta acción se necesitan permisos para acceder a la cámara del dispositivo</string>
	<key>NSContactsUsageDescription</key>
	<string>Para realizar esta acción se necesitan permisos para acceder a su agenda de contactos</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Para realizar esta acción se necesitan permisos para la autenticación mediante reconocimiento facial</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Conociendo tu ubicación podremos protegerte frente posibles fraudes desde cualquier lugar. Además podrás recibir servicios más personalizados</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Conociendo tu ubicación podremos protegerte frente posibles fraudes desde cualquier lugar. Además podrás recibir servicios más personalizados</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Para realizar esta acción se necesitan permisos para acceder a las fotos del dispositivo</string>
	<key>PUBLIC_FILE_ENVIRONMENTS</key>
	<string>$(PUBLIC_FILE_ENVIRONMENTS)</string>
	<key>SALES_FORCE_ACCESS_TOKEN</key>
	<string>$(SALES_FORCE_ACCESS_TOKEN)</string>
	<key>SALES_FORCE_APP_ID</key>
	<string>$(SALES_FORCE_APP_ID)</string>
	<key>SALES_FORCE_END_POINT</key>
	<string>$(SALES_FORCE_END_POINT)</string>
	<key>SALES_FORCE_MID</key>
	<string>$(SALES_FORCE_MID)</string>
	<key>SHARED_KEYCHAIN_IDENTIFIER</key>
	<string>$(SHARED_KEYCHAIN_IDENTIFIER)</string>
	<key>TAS_ROOT</key>
	<string>$(TAS_ROOT)</string>
	<key>TEALIUM_TARGET</key>
	<string>$(TEALIUM_TARGET)</string>
	<key>TRUST_INVALID_CERTIFICATE</key>
	<string>$(TRUST_INVALID_CERTIFICATE)</string>
	<key>TWIN_PUSH_API_KEY</key>
	<string>$(TWIN_PUSH_API_KEY)</string>
	<key>TWIN_PUSH_APP_ID</key>
	<string>$(TWIN_PUSH_APP_ID)</string>
	<key>TWIN_PUSH_SUBDOMAIN</key>
	<string>$(TWIN_PUSH_SUBDOMAIN)</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
